<div class="btn-toolbar mb-2 mb-md-0 mt-2 mr-2 ml-2">
  <div class="btn-group mr-2 mb-2">
    <button class="btn btn-purple" data-toggle="tooltip" data-placement="top" title="" (click) = "redirecionar(details.link)">
    <i class="fas fa-plus-square fa-1x mr-1"></i>{{details.name}}</button>
  </div>
  <div class="btn-group mr-2 mb-2">
      <button class="btn btn-purple"  data-toggle="tooltip" data-placement="top" title="excel">
            <i class="fas fa-file-excel fa-1x"></i></button>
      <button class="btn btn-purple"  data-toggle="tooltip" data-placement="top" title="pdf">
          <i class="fas fa-file-pdf fa-1x "></i></button>
    </div>
 
</div> 
