

<div class="needs-validation card p-1 mt-3" novalidate="">
  <div class="row justify-content-md-center">
      <div class="col-md-12 mb-3">
        <app-breadcrumb [detailsBreadcrump]="breadcrumpDetails"></app-breadcrumb>
        <app-btn-create [details]="btnDetailsList"></app-btn-create> 
       
        <div class="row ml-2 mr-2">
           <div class="table-responsive mt-5">
          <table datatable class="table table-striped table-bordered table-responsive-sm" style="width:100%">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.pessoa.nome}}</td>
                <td>{{cliente.pessoa.email}}</td>
                <td>{{cliente.pessoa.cpf}}</td>
                <td>{{cliente.pessoa.cnpj}}</td>
                <td>
                 
                  <div class="btn-group mr-2 mb-2">
                    <a routerLink="editar/{{cliente.id}}">
                      <button class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="fas fa-edit fa-1x mr-1"></i>
                      </button>
                    </a>
                 
                  <button class="btn btn-sm btn-outline-dark"  data-toggle="tooltip" data-placement="top" title="Excluir">
                  <i class="fas fa-trash fa-1x mr-1"></i></button>
                  </div>
                  <!-- <button class="btn btn-outline-dark btn-sm mr-1" routerLink="/cliente/edit" ><i class="fas fa-edit fa-1x mr-1"></i>Edite</button>
                  <button class="btn btn-outline-info btn-sm" routerLink="/cliente/edit"><i class="fas fa-trash fa-1x mr-1"></i>Delete</button> -->
                </td>
              </tr>     
            </tbody>
          </table>
          
        </div>
        </div>
      </div>
  </div>
</div>
