<!-- <div class="d-flex align-items-center p-1 my-1 text-white-50 bg-white rounded shadow-sm"> -->
    <div class="lh-100">
      <div class="row">
        <button class="btn ml-1 ml-3" (click)= "redirecionar(detailsBreadcrump.link)">
          <span style="color:#4b4b4d;" >
            <i class="fas fa-arrow-left fa-w-12 fa-1x"></i>
          </span>           
        </button>
        <h5 class="mb-1 text-dark mt-1 ml-1">{{detailsBreadcrump.name}}</h5>
      </div>
    </div>
<!-- </div>  -->
