<div class="btn-toolbar mb-2 mb-md-0 mt-2 mr-2 ml-2">
    <div class="btn-group mr-2 mb-2">
      <button class="btn btn-purple"  data-toggle="tooltip" data-placement="top" (click)="addNewItem(details.link)" title="" >
      <i class="fas fa-save fa-1x mr-1"></i>Salvar</button>
      <button class="btn btn-purple" data-toggle="tooltip" data-placement="top" title="Salvar">
          <i class="fas fa-sync fa-1x"></i></button>
    </div>
    <div class="btn-group mr-2 mb-2">
        <button class="btn btn-purple"  data-toggle="tooltip" data-placement="top" title="excel">
              <i class="fas fa-file-excel fa-1x"></i></button>
        <button class="btn btn-purple"  data-toggle="tooltip" data-placement="top" title="pdf">
            <i class="fas fa-file-pdf fa-1x "></i></button>
      </div>
   
  </div> 
  
