
  <div class="needs-validation card p-1 mt-3" novalidate="">
    <div class="row justify-content-md-center">

      <div class="col-md-12 mb-3 mr-2 ml-2">
        <app-breadcrumb [detailsBreadcrump]="breadcrumpDetails" ></app-breadcrumb>
        <app-btn-edit [details]="btnDetailsForm" (newItemEvent)= "onSubmit($event)"></app-btn-edit>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal mr-2 ml-2" [formGroup] = "clienteform" >

              <div class="clo-md-12" formGroupName="pessoa">
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label>Nome</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="nome" formControlName ="nome">
                    </div> 
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationDefaultUsername">Email</label>
                    <div class="input-group input-group">
                      <input type="text" class="form-control" name="email"  formControlName="email" placeholder="seu@email.com">
                    </div>
                  </div>
                </div>
                
                <!-- <div class="dropdown-divider"></div> -->
                
                <div class="form-row">
                  <div class="col-md-4 mb-2">
                    <label for="validationDefaultUsername">Data Nascimento</label>
                    <div class="input-group">
                      <input type="date" class="form-control" id="validationDefaultUsername" name="dtNascimento"  formControlName="dtNascimento">
                    </div>
                  </div>
                  <div class="col-md-4 mb-2">
                    <label for="validationDefaultUsername">Residencial</label>
                    <div class="input-group">
                      <div class="input-group-prepend" >
                        <span class="input-group-text" id="inputGroupPrepend2">
                          <i class="fas fa-phone fa-1x mr-1"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" id="validationDefaultUsername" name="telResidencial"  formControlName="telefoneAlternativo"  aria-describedby="inputGroupPrepend2" required required placeholder="(000) 9999-9999">
                    </div>
                  </div>
                  <div class="col-md-4 mb-2">
                    <label for="validationDefaultUsername">Celular</label>
                    <div class="input-group">
                      <div class="input-group-prepend" >
                        <span class="input-group-text" id="inputGroupPrepend2">
                          <i class="fas fa-mobile-alt fa-1x mr-1"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" id="validationDefaultUsername" name="telCelular"  formControlName="telefoneCelular" placeholder="(000) 99999-9999">
                    </div>
                  </div>
                  <!-- <div class="col-md-4 mb-2">
                    <label for="validationDefaultUsername">Tipo de pessoa</label>
                    <select class="custom-select d-block w-100" id="state" onchan required="">
                      <option value="">Escolha...</option>
                      <option>Física</option>
                      <option>Jurídica</option>
                    </select>  
                    </div> -->
                </div>
        
                <!--<div class="form-row">
                  <div class="col-md-6 mb-2">
                    <label for="validationDefaultUsername">CPF</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="validationDefaultUsername" name="cpf"  formControlName="cpf"  placeholder="000.000.000-00">
                    </div>
                  </div>-->
                  <!--<div class="col-md-6 mb-2">
                    <label for="validationDefaultUsername">RG</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="validationDefaultUsername" name="rg"  formControlName="rg" aria-describedby="inputGroupPrepend2" required required>
                    </div>
                  </div>-->
                <!--</div>-->
        
                <div class="form-row">
                  <div class="col-md-6 mb-2">
                    <label for="validationDefaultUsername">Cpf</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="validationDefaultUsername" name="cpf"  formControlName="cpf"  placeholder="000.000.000-00">
                    </div>
                  </div>
                  <!--<div class="col-md-2 mb-2">
                    <label for="validationDefaultUsername">Cnpj</label>
                    <div class="input-group">
                      <input type="text" class="form-control"  name="cnpj"  formControlName="cnpj" >
                    </div>
                  </div>
                  <div class="col-md-2 mb-2">
                    <label for="validationDefaultUsername">Insc. Municipal</label>
                    <div class="input-group">
                      <input type="text" class="form-control"  name="inscMunicipal"  formControlName="inscMunicipal">
                    </div>
                  </div>
                  <div class="col-md-2 mb-2">
                    <label for="validationDefaultUsername">Insc. Estadual</label>
                    <div class="input-group">
                      <input type="text" class="form-control"  name="inscEstadual"  formControlName="inscEstadual">
                    </div>
                  </div>-->
                </div>

                <div class="form-row">
                  <div class="col-md-12 mb-2">
                    <app-endereco-list [enderecos]= "listaEnderecos"></app-endereco-list>
                  </div>                  
                </div>
                </div>
             </form>
          </div>
        </div>
      </div>
    </div>                                
    <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
  </div>
